.project
.classpath
.settings
src/grammar/cracklGrammarBaseListener.java
src/grammar/cracklGrammarLexer.java
src/grammar/cracklGrammarListener.java
src/grammar/cracklGrammarParser.java
src/grammar/cracklGrammar.tokens
src/grammar/cracklGrammarLexer.java
src/grammar/Crackl.tokens
src/grammar/CracklBaseListener.java
src/grammar/CracklBaseVisitor.java
src/grammar/cracklGrammarLexer.tokens
src/grammar/CracklLexer.java
src/grammar/CracklLexer.tokens
src/grammar/CracklListener.java
src/grammar/CracklParser.java
src/grammar/CracklVisitor.java
src/grammar/Crackl.tokens

machine/bin
machine/sprockell
machine/*.hi
machine/*.o

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
/bin/
*.sprk
test2.crk
machine/ptest.hs
machine/New Text Document.txt
src/grammar/Crackl.tokens
machine/compile_sprockell.bat
machine/crk_program.hs
*.exe
